<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-genieservices"
    version="0.0.1">
    <name>Genie Service Cordova Plugin</name>
    <description>Plugin to call Genie Services SDK.</description>
    <license></license>
    <keywords>genieservices, telemetry, cordova, plugin</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/genieservice.js" name="genieservice">
        <clobbers target="genieservice" />
    </js-module>
    <js-module src="www/telemetry.js" name="telemetry">
        <clobbers target="telemetry" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <framework src="genieservice.gradle" custom="true" type="gradleReference" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GenieServicePlugin" >
                <param name="android-package" value="org.ekstep.geniecanvas.GenieServicePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/GenieServicePlugin.java" target-dir="src/org/ekstep/geniecanvas" />
        <source-file src="src/android/TelemetryResponse.java" target-dir="src/org/ekstep/geniecanvas" />
        <source-file src="src/android/UserProfileResponse.java" target-dir="src/org/ekstep/geniecanvas" />
        <source-file src="src/android/GenieServicesResponse.java" target-dir="src/org/ekstep/geniecanvas" />
        <!-- <source-file src="src/android/GenieServicesListResponse.java" target-dir="src/org/ekstep/geniecanvas" /> -->
    </platform>
</plugin>
