player/public/libs/**
player/public/js/basePlugin.js
player/public/js/app/speech.js
player/public/test/**
player/public/fixture-stories/**
player/public/example/**
player/public/coreplugins/**
player/hooks/**
player/app-data/**
player/build-config/**
player/node_modules/**
cordova-plugins/**
js-libs/**