<style>
.nav-btn-top {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 40px;
    color: #000000;
    width: 5%;
    top: 2%;
    padding: 10px;
    background-color: #FFFFFF;
    border: solid #DDDDDD 2px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.nav-btn-top.next {
    right: 2%;
}

.nav-btn-top:hover {
    background: #005391;
    text-decoration: none;
}
.nav-btn-top img {
    width: 50%;
}
</style>
<a href="#" class="nav-btn-top next" ng-click="navigate('next')">
    <img ng-src="{{imageBasePath}}chevron.png" ng-click="navigate('next')">
    <!-- <i class="chevron left icon"></i> -->
</a>