@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('fonts/NotoSansDevanagari-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansTelugu';
    src: url('fonts/NotoSansTelugu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansKannada';
    src: url('fonts/NotoSansKannada-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansOriya';
    src: url('fonts/NotoSansOriya-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansGujarati';
    src: url('fonts/NotoSansGujarati-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansBengali';
    src: url('fonts/NotoSansBengali-Regula.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansMalayalam';
    src: url('fonts/NotoSansMalayalam-Regular.ttf') format('truetype')
}

/*@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansGurmukhi';
    src: url('fonts/NotoSansGurmukhi-Regular.ttf') format('truetype')
}
*/

@font-face {
    font-family: 'NotoSansTamil';
    src: url('fonts/NotoSansTamil-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'flavours';
    src: url('fonts/Flavors-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansRegular';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype')
}

@font-face {
    /* reference: https://github.com/EkType/Baloo */
    font-family: 'Baloo';
    src: url('fonts/baloo/BalooBhai-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooBhai';
    src: url('fonts/baloo/BalooBhai-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooTamma';
    src: url('fonts/baloo/BalooTamma-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooTammudu';
    src: url('fonts/baloo/BalooTammudu-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooBhaina';
    src: url('fonts/baloo/BalooBhaina-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooDa';
    src: url('fonts/baloo/BalooDa-Regular.ttf') format('opentype')
}

@font-face {
    font-family: 'BalooThambi';
    src: url('fonts/baloo/BalooThambi-Regular.ttf') format('opentype')
}

ion-popover-view.fit {
    height: auto !important;
    width: auto !important;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

body{
    font-family: NotoSansOriya, NotoSansGujarati, NotoSansMalayalam;
    /* 'NotoSansRegular', 'NotoSansDevanagari', 'NotoSansGujarati', 'NotoSansOriya', 'NotoSansBengali', 'NotoSansTelugu', 'NotoSansKannada', 'NotoSansTamil'; */
} 

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}

.menu-item {
    font-size: 25px !important;
    margin: -8px !important;
    padding: 18px !important;
}

.clearList {
    padding: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
}

.noPad {
    padding: 0px !important;
}

.noBorder {
    border: 0px !important;
}

.preview_posterImg {
    max-height: 100px;
    max-width: 100px;
}

.preview_txt {
    font-family: 'flavours' !important;
}

.preview_description {
    font-size: 1.25em !important;
    color: #000 !important;
}

.preview_subtext {
    font-family: 'flavours' !important;
    margin: 0px !important;
}

.preview_button_bg {
    background-image: url('../../img/icons/btn_play_selected.png');
    background-repeat: no-repeat;
    background-size: 140px 45px;
    padding-top: 13px;
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 45px;
}

.preview_button {
    font-family: 'flavours';
    font-size: 1.5em;
}

.preview_bottom_bg {
    background-image: url('../../img/skin/bottom_bg.png');
    height: 66px;
    margin-top: 10px;
}

.worksheet_exit {
    background: url(../assets/skin02/btn_close.png) no-repeat left bottom;
    background-size: 38px 38px;
    height: 38px;
    width: 38px;
}

.overlay-html {
    pointer-events: none;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.overlay-html * {
    pointer-events: all;
}

.font-baloo {
    font-family: Baloo, BalooBhai, BalooTamma, BalooTammudu, BalooBhaina, BalooDa, BalooThambi;
}

.cover-page-title {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    padding: 0 2%;
    text-overflow: ellipsis;
    line-height: 1.5em;
    margin-bottom: 7%;
    width: 100%;
    margin-top: 7%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 23%;
    -webkit-line-clamp: 2;
    font-size: 9vh;
    -webkit-text-stroke: 0.2vh #009e81;
    z-index: 0;
  }

.gc-text-elipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gc-ep-title{
    width: 100%;
    text-transform: uppercase;
    padding: 0 10%;
    font-size: 1.8em;
}

.cover-page-title1 {
    -webkit-text-stroke: 0.4vh yellow;
    z-index: 1;
}

.menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
}

.menu-title-font {
    text-shadow: 2px 2px 0 yellow, -2px 2px 0 yellow, 2px -2px 0 yellow, -2px -2px 0 yellow;
}

.icon-font {
    font-family: Baloo, BalooBhai, BalooTamma, BalooTammudu, BalooBhaina, BalooDa, BalooThambi;
    color: #FFFFFF;
    line-height: 1.2em;
    text-align: center;
}

.label-white-stoke {
    text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
}

.gc-menu {
    position: absolute;
    text-transform: uppercase;
    width: 27%;
    height: 100%;
    top: 0;
    margin-left: -31%;
}

.gc-menu-cont {

    height: 100%;
}

.gc-menu .gc-menu-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-menu-title-cont p {
  position: absolute;
  color: #FFFFFF;
  line-height: 1.2em;
  text-align: center;

    font-size: 2.8vw;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    padding: 2% 5%;
    margin-top: 10%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;

    height: 20%;
    line-height: 1.3em;

}

.gc-menu-btn {
    float: right;
    width: 20%;
    margin-top: 6%;
    margin-right: -39%;
}

.gc-menu-collection-cont {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    top: 31%;
    right: 7%;
}

.gc-menu-collection-cont img{
    width: 50%;
    border-radius: 40px;
}
.popup-bg-img{
    width: 100%;

}
.gc-menu-replay-cont {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    right: 7%;
}

.gc-menu-replay-cont img{
    width: 50%;
}

.gc-menu-genie-cont {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    width: 50%;
    top: 31%;
    left: 2%;
}

.gc-menu-genie-cont img{
    width: 50%;
}

.gc-menu-mute-cont{
    bottom: 14%;
    position: absolute;
    width: 100%;
}

.gc-menu-inst-cont {
    position: absolute;
    text-align: center;
    width: 50%;
    left: 2%;
}

.gc-menu-inst-cont img{
    width:50%;
}

.gc-menu-btn-close {
    float: right;
    margin-top: -2%;
    margin-left: -13%;
    width: 14%;
    position: absolute;
}

.inst-message-cont {
    width: 80%;
    background-color: #ECECEC;
    position: absolute;
    height: 75%;
    margin: 35% 7%;
    z-index: 2;
}

.inst-message-cont p {
    font-family: NotoSansRegular;
    font-size: 1.2em;
    padding: 25% 5%;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-weight: 500;
}

.inst-message {
    font-size: 2em;
    padding: 5%;
}

.inst-icon {
    position: absolute;
    left: 40%;
    top: 3%;
    width: 20%;
}

.inst-done {
    text-align: center;
    bottom: 2%;
    position: absolute;
    left: 35%;
    width: 30%;
}

.gc-menu-btn img {
    width: 100%;
}

.nav-icon {
    position: absolute;
    width: 7%;
    top: 45%;
}

.nav-icon img {
    width: 100%;
}

.nav-next {
    right: 1%;
}

.nav-previous {
    left: 1%;
}

.nav-previous-enable {
    display: none;
}

.overlay-html>assess{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 9%;
}

.assess {
    text-decoration: none;
}

.assess-enable {
    opacity: 1;
    -webkit-text-stroke: 0.2vh #62ac0c;
}

.assess-disable {
    opacity: 1;
    -webkit-text-stroke: 0.2vh grey;
}

.assess img {
    width: 100%;
}

.assess p {
    position: absolute;
    line-height: 100%;
    font-size: 5vh;
    color: white;
    font-family: NotoSansRegular;
    text-align: center;
    width: 100%;
    padding-top: 10%;
}

.assess-popup{
    position: absolute;
    width: 43%;
    height: 80%;
    border-radius: 10px;
    
}
.assess-goodjob-popup{
    top: 8%;
    left: 30%;
}
.assess-tryagain-popup{
    top: 26%;
    left: 27%;
}

.credit-popup {
    width: 60%;
    height: 60%;
    top: 20%;
    left: 25%;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}


.popup-retry {
    width: 35%;
     display: inline-block;
    margin: 4% 4%;
}

.popup-retry-next {
    width: 20%;
    display: inline-block;
    margin:0% 3%;
}
.popup-goodjob-next {
    display: inline-block;
    width: 40%;
    margin: 4% 4%;
}


.popup-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.popup-close {
    position: inherit;
    width: 8%;
    right: 43%;
    top: 1.5%;
}

.gc-popup-icons-div{
    position: absolute;
    color:#e85424;
    text-align: center;
    padding: 0%;
    width: 50%;
    height: 40%;
}

.goodjob_next_div {
    font-size: 2em;
    top: 33%;
    text-align: center;
    left: 41%;

}
.tryagain-retry-div{
    font-size: 1.1em;
    top: 3%;
    left: 52%;
    padding: 0;
    margin: 10px;
}

.tryagian-next-div{
    font-size: 1.1em;
    top: 36%;
    left: 55%;

}
.gc-cp-scroll-ionic{
     transform: translate3d(0px, -28px, 0px) scale(1);
     height: 100%;"
}
.gc-cp-header-div{
    position: absolute; 
    top: 15%;
    width: 100%;
}
.gc-cp-header{
    background-color:transparent;
    border-bottom:0px;
    background-image:none;
    height: 20%;
}

.credit-body-icon-font {
    width: 82%;
    word-wrap: break-word;
    height: 75%;
    left: 10%;
    position: absolute;
    font-size: 0.7em;
    overflow-y: auto;
    overflow-x:hidden;

}
.gc-play-icon{
    width:17%;
}
.credit-body-icon-font::-webkit-scrollbar {
    width: 3%;
    border-radius: 30%;
}
.credit-body-icon-font::-webkit-scrollbar-track {
    background-color: #ffd18f;
    border-radius: 10%;
}
.credit-body-icon-font::-webkit-scrollbar-thumb {
    background-color: #f6661f;
    border-radius: 35%;
}
.credit-body-icon-font::-webkit-scrollbar-thumb:hover {
  background-color: #f6661f;
  border-radius: 10%;
}

.credit-body-icon-font table{
    width: 100%;
    table-layout: fixed;
    height: auto;
}

.credit-body-icon-font tbody{
    height: 100%;
    overflow: auto;
}
.gc-cp-background{
     position: absolute;
     width: 100%;
     height: 100%;
}
.gc-play-container{
    top: 100%;
    position: absolute;
    width: 100%;
    height: 20%;
}

.gc-cp-coll{
    position: absolute;
    width:25%;
    right:4%;
    text-align: right;
}

.gc-cp-coll img{
    width: 25%;
}

.gc-cp-genie{
    position: absolute;
    width:25%;
    left:2%;
}

.gc-cp-genie img{
    width: 25%;
}

.gc-ep-cong{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 5%;
    color: #494949;
}

.gc-content-owner {
    font-size: 1em;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 1%;
}

.gc-ep-cont{
    width:100%;
    height:100%;
}

.gc-fc-popup-keyboard{
    margin-top: -25%;
}

.gc-ep-home{
    position: absolute;
    width:30%;
    left:3%;
    top: 3%
}

.gc-ep-home img{
    width: 21%;
}

.btn-black {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border-color: #413a36;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #413a36;
    padding: 1% 8%;
    text-decoration: none;
   border-style: solid;

}
.btn-normal{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border-color: #413a36;
    font-size: 1em;
    font-weight: bold;
    background: #413a36;
    padding: 1% 8%;
    text-decoration: none;
   border-style: solid;
   background-color: transparent;

}

.btn-black:hover {
    background: #454545;
    text-decoration: none;
    color:white;
}

.gc-ep-time-score{
    position: absolute;
    border: 2px solid #2fcce7;
    top: 23%;
    margin: 7% 9%;
    width: 86%;
}

.gc-ep-score{
    width: 30%;
    left: 70%;
    top: 0;
    margin: 4% 2% 0 0;
    text-align: center;
    float: right;
}
.gc-ep-time{
    width: 30%;
    margin: 5% 0% 0% 4%;
    text-align: center;
    float: left;
}
.img-float-left{
    width:33%;
}
.img-float-mid{
    width:11%;
}

.gc-ep-time-mid{
    width: 100%;
    padding: 4%;
    text-align: center;
}

.gc-white-bg{
    background: #fff;
    border-radius: 15px;
    font-size: 1em;
    display: initial;
    padding: 0px 25px;
    text-transform: capitalize;
}
.gc-white-text{
    color: #2fcce7;
}
.gc-ep-white-title{
    font-size: 1.5em;
    margin: 0;
}
.gc-ep-white-subtitle{
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: 0.9em;
}
.gc-ep-white-btn{
    text-transform: uppercase;
}

.gc-ep-content-holder{
    position: absolute;
    top: 26.5%;
    width: 84%;
    height: 62%;
    margin: 0 9.4%;
    background-color: rgba(255,255,255, 1);
}

.gc-ep-footer-icons{
    display: inline-block;
    width: 35%;
    height: 100%;
    margin: 0 -5%;
}

.gc-ep-footer p{
    white-space: normal;
}
.gc-ep-footer-icons img{
    height: 80%
}

.gc-ep-rating-cont{
    position: absolute;
    top: 6%;
    width: 100%;
    height: 20%;
    padding: 0 5%;
}
.gc-ep-feedback{
    vertical-align: middle;
    top: 20%;
    position: absolute;
    font-size: 0.9em;
}

.gc-ep-rating{
    width: 70%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    left: 17%;
    text-align: center;
}

.gc-ep-comments{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 5%;
    width: 10%;
    height: 100%;
    float: right;
    text-align: center;
}

.gc-ep-comments img{
    width: 100%;
    height: 100%;
}

.gc-ep-assessment-cont{
    position: absolute;
    width: 50%;
    height: 100%;
}

.gc-ep-related-cont{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

.gc-ep-rel-title {
    position: relative;
    margin: 0 5%;
}

.gc-ep-rel-title p{
    margin-bottom: 2px;
}

.gc-ep-show-all-rel{
    display: inline-block;
    right: 10px;
    position: absolute;
    top: 0;
}

.gc-related-cont{
    width: 100%;
    height: 50%;
    padding: 0px 4%;
    overflow: hidden;
}

.gc-related-list{
    width: 50%;
    position: relative;
    display: inline-block;
    padding: 0px 5px;
    height: 100%;
}

.gc-related-item{
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}

.gc-no-rel-cont{
    bottom: 45%;
}

.gc-ep-footer{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    bottom: 13%;
}

.gc-ep-footer-mid{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 14%;
    bottom: 45%;
}

.gc-ep-footer p{
    margin-top: -5px;
    font-size: 1em;
    color: #808080;
    width: 100%;
    height: 80%;
    overflow: auto;
    line-height: 1.2em;
}

.gc-related-item p {
    margin: 0;
}

.gc-rel-content-img{
    position: absolute;
    text-align: center;
    width: 70%;
    left: 15%;
    height: 70%;
}

.img-center{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.gc-rel-content-img img{
    width: 100%;
    height: auto;
    display: block;
}

.gc-rel-content-img > img
{
    height: 100%;
    border: 1px solid;
    border-style: none;
    border-radius: 10px;
    border-width: thin;
}

.gc-no-rel-items{
    top: 20%;
    left: 30%;
}

.gc-repeat-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.gc-repeat-content img{
    width: 60%;
    position: absolute;
    height: 60%;
    top: 20%;
    left: 20%;
}

.gc-popup-new{
    width:50%;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    position: absolute;
}
.gc-fc-popup{
    width:50%;
    top: 25%;
    right: 25%;
}
.gc-popup-title-new{
    padding: 3% 5%;
    border-bottom: solid #4FD3F6;
    border-width: 2px;
    color:#0097D2;
    text-transform: uppercase;
}
.gc-popup-body-new{
    padding: 2% 5%;
}
.gc-fd-comments{
    margin: 5px 0px;
    padding: 5px 0px;
    width: 100%;
    height: 80px;
    border-width: 2px;
    border-color: #ccc;
    border-bottom-style: solid;
    border-top-style: solid;
}
.gc-fd-text{
    resize: none;
    height: 100%;
    width: 99%;
    border-radius: 5px;
    padding: 5px;
}
.gc-fd-footer{
    width: 100%;
    text-align: center;
}
.round-button {
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}

.round-button:hover {
    background: white;
}

.round-button img {
    display: block;
    width: 100%;
    padding: 12%;
    height: auto;
}

.credits-title {
    width: 43%;
    font-size: 1.4em;
    line-height: 2em;
    border-right: 2px solid;
}

.content-noCredits {
    font-size: 3.0vh;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.credits-data {
    width: 100%;
    font-size: 1.2em;
    padding: 2%;
    text-align: center;
}

.gc-restart-cont {
    position: absolute;
    width: 100%;
    bottom: 30%;
}

.gc-restart-cont p {
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 8vh;
}

.gc-restart-btn {
    width: 10%;
    position: absolute;
    left: 44%;
}

.gc-restart-collection {
    left: 38%;
}
.gc-loader-area {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.gc-loader-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-loader-prog {
    margin-left: 46%;
    position: absolute;
    color: white;
    padding: 1%;
    font-weight: bold;
}

.gc-ep-loader {
    width: 100%;
    height: 52%;
    padding: 0px 4%;
    overflow: hidden;
    text-align: center;
}

.gc-popup-title {
    top: 14%;
    position: absolute;
    left: 45%;
    font-size: 6vh;
    width: 50%;
}

.next-module {
    position: absolute;
    width: 10%;
    top: 70%;
    left: 52%;
}

.end-license {
    position: absolute;
    bottom: 2%;
    left: 3%;
    width: 22%;
}

.icon-opacity {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.gc-fd-commentInfo {
    position: absolute;
    right: 6%;
    bottom: 23%;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(65, 58, 54, 0.8);
    vertical-align: middle;
    display: table;
}

.gc-fd-commentInfo > p {
    color: #fdfdfd;
    font-size: 0.8em;
    vertical-align: middle;
    display: table-cell;
    font-family: NotoSans;
}

/*New End page css*/
.gc-ep-credits {
    width: 30%;
    right: 3%;
    top: 3%;
    position: absolute;
    height: 15.5%;
}

.gc-ep-credits > input[type=button] {
    background-image: url(../../img/icons/btn_credits.png);
    background-repeat: no-repeat;
    padding: 2% 19%;
    border: none;
    margin-top: 3%;
    background-size: 100% 100%;
}

.gc-btn-credits {
    padding: 8px 8px;
    float: right;
}

.gc-ep-content {
    width: 54%;
    left: 23%;
    top: 3%;
    position: absolute;
}

.gc-endpage-title-cont {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 1em;
    height: 35%;
    font-weight: inherit;
}

.gc-ep-score > img {
    width:31%;
}

.gc-ep-footer-icons > collection > a > img {
    border-radius: 25px;
}

.gc-ep-rating > p {
    font-size: 1.1em;
    color: #494949;
    padding-bottom: 3%;
}

.gc-ep-next {
    position: absolute;
    top: 4%;
    width: 100%;
    height: 20%;
    padding: 0 5%;
}

.gc-fd-text::-webkit-input-placeholder {
    padding-left: 3%;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
}