
@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('fonts/NotoSansDevanagari-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansTelugu';
    src: url('fonts/NotoSansTelugu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansKannada';
    src: url('fonts/NotoSansKannada-Regular.ttf') format('truetype')
}

/*@font-face {
    font-family: 'NotoSansGujarati';
    src: url('fonts/NotoSansGujarati-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansMalayalam';
    src: url('fonts/NotoSansMalayalam-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansOriya';
    src: url('fonts/NotoSansOriya-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansBengali';
    src: url('fonts/NotoSansBengali-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansGurmukhi';
    src: url('fonts/NotoSansGurmukhi-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansTamil';
    src: url('fonts/NotoSansTamil-Regular.ttf') format('truetype')
}*/

@font-face {
    font-family: 'flavours';
    src: url('fonts/Flavors-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansRegular';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'baloobhai';
    src: url('fonts/baloobhai.otf') format('opentype')
}

ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.menu-item {
    font-size: 25px !important;
    margin: -8px !important;
    padding: 18px !important;
}

.clearList {
    padding: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
}

.noPad {
    padding: 0px !important;
}

.noBorder {
    border: 0px !important;
}

.preview_posterImg {
    max-height: 100px;
    max-width: 100px;
}

.preview_txt {
    font-family: 'flavours' !important;
}

.preview_description {
    font-size: 1.25em !important;
    color: #000 !important;
}

.preview_subtext {
    font-family: 'flavours' !important;
    margin: 0px !important;
}

.preview_button_bg {
    background-image: url('../../img/icons/btn_play_selected.png');
    background-repeat: no-repeat;
    background-size: 140px 45px;
    padding-top: 13px;
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 45px;
}

.preview_button {
    font-family: 'flavours';
    font-size: 1.5em;
}

.preview_bottom_bg {
    background-image: url('../../img/skin/bottom_bg.png');
    height: 66px;
    margin-top: 10px;
}

.worksheet_exit {
    background: url(../assets/skin02/btn_close.png) no-repeat left bottom;
    background-size: 38px 38px;
    height: 38px;
    width: 38px;
}
.overlay-html{
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.overlay-html * {
    pointer-events: all;
}

.conver-page-title
{
    font-family: baloobhai;
    position: absolute; 
    width: 100%; 
    top:20%;
    font-size:10vh;
    -webkit-text-stroke: 1vh #01ac8a;
    z-index: 0;
    /*text-shadow: -3px 3px 0 white, 3px -3px 0 white, -6px 6px 0 yellow, 6px -6px 0 yellow, -9px 9px 0 #01ac8a, -9px -9px 0 #01ac8a;*/
}

.conver-page-title1{
    -webkit-text-stroke: 0.4vh yellow;
    z-index: 1;
}
.menu-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
}

.menu-title-font{
    text-shadow: 2px 2px 0 yellow, -2px 2px 0 yellow, 2px -2px 0 yellow, -2px -2px 0 yellow;
}

.icon-font{
    font-family: baloobhai; 
    color: #01ac8a; 
    line-height: 1.2em;
    text-align: center;

}

.label-white-stoke{
    /* -webkit-text-stroke: 0.2vh white; */
    text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
}

.gc-menu{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    margin-left: -31%;
}
.gc-menu-cont{
    height: 100%;
}

.gc-menu .gc-menu-bg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-menu-title-cont{
    width: 100%;
    padding-top: 10%;
    position: absolute;
    height: 25%;
}

.gc-menu-title-cont p{
    font-size: 5vh;
    width: 100%;
    float: left;
    padding: 0 15%;
    height: 100%;
    overflow: auto;
}

.gc-menu-btn{
    float: right;
    width: 20%;
    margin-top: 6%;
    margin-right: -30%;
}

.gc-menu-home-cont{
    position: absolute;  
    text-align: center;    
    width: 70%; 
    left:-10%;   
    top:25%;
    
}

.gc-menu-genie-cont{
    position: absolute;  
    text-align: center;    
    width: 70%;    
    top: 25%;
    left:35%;
    
}

/*.gc-menu-mute-cont{

    position: absolute;
    text-align: center;
    width: 62%;
    bottom: 1%;
    right: 30%;


}*/

/*.gc-mute-bg{
    postion:absolute;
    width:100%;
    height: 60%;
    bottom: 1%;
    z-index:1;
}*/

.gc-menu-inst-cont{
    position: absolute;  
    text-align: center;    
    width: 70%;    
    bottom: 35%;
    left: 10%;

}

.gc-menu-btn-close{
    float: right;
    margin-top: -2%;
    margin-left: -13%;
    width: 14%;
    position: absolute;
}

.inst-message-cont{
    width: 80%;
    background-color: #ECECEC;
    /* border: 1px solid #000; */
    /* border-radius: 10px; */
    position: absolute;
    height: 75%;
    margin: 35% 7%;
    z-index: 2;
}

.inst-message-cont p{
    font-family: NotoSansRegular;
    font-size: 1.2em;
    padding: 25% 5%;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-weight: 500;
}

.inst-message{
    font-size: 2em;
    padding: 5%;
}

.inst-icon{
    position: absolute;
    left: 40%;
    top: 3%;
    width: 20%;
}

.inst-done{
    text-align: center;
    bottom: 2%;
    position: absolute;
    left: 35%;
    width: 30%;
}

.gc-menu-btn img{
    width: 100%;
}
.nav-icon{
    position:absolute;
    width: 9%;
    top: 45%;
}
.nav-icon img{
    width: 100%;
}
.nav-next{    
    right: 1%;
}
.nav-previous{
    left: 1%;
}
.nav-previous-enable{
    display: none;
}
.assess{
    text-decoration: none;
    position:absolute;
    width: 15%;
    bottom: 10%;
    left: 45%;
    display: none;
}

.assess-enable{
    opacity: 1;
    -webkit-text-stroke: 0.2vh #62ac0c;
}

.assess-disable{
    opacity: 0.2;
    -webkit-text-stroke: 0.2vh grey;
}

.assess img{
    position:absolute;
    width: 100%;
}

.assess p{
    position: absolute;
    line-height: 100%;
    font-size: 5vh;
    color: white;
    font-family: NotoSansRegular;   
    text-align: center;
    width: 100%;
    padding-top: 10%;
}

.credit-popup {
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    top: 10%;
    left: 20%;
}

.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-goodjob-next{
    position: absolute;
    width: 22%;
    top: 36%;
    left: 50%;
}
.popup-retry{
    position: absolute;
    top: 12%;
    left: 39%;
    width: 30%;
}
.popup-retry-next{
    position: absolute;
    width: 18%;
    bottom: 10%;
    right: 7%;
}
.popup-overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.popup-close{
    position: inherit;
    width: 8%;
    right: 43%;
    top: 1.5%;
}

.popup-body {
    position: absolute;
    top: 14%;
    width: 70%;
    height: 65%;
    left: 7%;
    padding: 0;
    margin: 10px;
}
.popup-body{
    /*position: absolute;
    top: 14%;
    width: 70%;
    height: 65%;
    left: 7%;
    padding: 0;
    margin: 10px;*/
    position: absolute;
    top: 14%;
    width: 70%;
    height: 70%;
    left: 17%;
    padding: 0;
    margin: 10px;

}

.credit-body-icon-font {
    width: 82%;
    height:75%;
    left: 12%;
    top: 0%;
    position: absolute;
    font-family: NotoSansRegular;
    font-size: 0.7em;
}



.gc-endpage-title{
    top:20%;
    position: absolute;
    width: 100%;
    text-align: center;
}
.gc-endpage-title-cont{

}

.gc-content-owner{
    font-size: 2em;
    margin-top: 10%;
    padding: 1% 0;
    width: 100%;
    text-align: center;
    position: absolute;
}
.btn-credits{
    position:absolute; 
    width: 4%; 
    top: 4%; 
    right: 9%;
}

.round-button {   
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: white;
}
.round-button img {
    display: block;
    width: 100%;
    padding: 12%;
    height: auto;
}
.credits-title {
     width: 43%;
    font-size: 2em;
    line-height: 2em;
    border-right: 2px solid;

}
.credits-data {
    width: 80%;
    font-size: 1em;
    padding: 2%;
}

.gc-restart-cont{
    position: absolute;
    width: 100%;
    bottom: 30%;
}
.gc-restart-cont p{
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 8vh;
}
.gc-restart-btn{
    width: 10%;
    position: absolute;
    left: 44%;
}

.gc-restart-collection{
    left: 38%;
}

.gc-popup-title{
    top: 14%;
    position: absolute;
    left: 45%;
    font-size: 6vh;
    width:50%;
}

.next-module{
    position: absolute;
    width: 10%;
    top: 70%;
    left: 52%;
}

.end-license{
    position: absolute;
    bottom: 4%;
    left: 3%;
    width: 22%;
}