<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.ekstep.recorder.service.plugin"
    version="0.0.1">
    <name>Recorder Service</name>
    <description>Plugin to recording audio.</description>
    <license>Apache 2.0</license>
    <keywords>Recorder Services Plugin</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/RecorderService.js" name="RecorderService">
        <clobbers target="RecorderService" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <framework src="src/android/recorderService.gradle" custom="true" type="gradleReference" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RecorderService" >
                <param name="android-package" value="RecorderService"/>
            </feature>
        </config-file>
        <source-file src="src/android/RecorderService.java" target-dir="src/" />
        <resource-file src="libs/sensibol-ekstep-speechengine-v.1.0.15.jar" target="libs/sensibol-ekstep-speechengine-v.1.0.15.jar" />
        <resource-file src="libs/armeabi-v7a/libsensibol-ekstep-speechengine.so" target="libs/armeabi-v7a/libsensibol-ekstep-speechengine.so" />
    </platform>
</plugin>
