/* ------- panel title ------- */

.panel_title {
    background-size: 380px 75px;
    color: #e4b173;
    width: 960px;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.selected_title {
    color: #266576;
    padding: 2px 8px;
    font-size: 30px;
    font-family: flavours, Helvetica, sans-serif;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    float: left;
    background: #BFF8FF;
    border: 0px;
}

.selected_title_box {
    background-size: 220px 75px;
    width: 220px;
    height: 75px;
    display: block;
    float: left;
}

.button_bar {
    background-size: 200px 75px;
    width: 200px;
    height: 75px;
    display: block;
    float: left;
    color: #5A3C22;
    font-size: 20px;
    font-family: flavours;
    margin-top: -10px;
    padding-top: 25px;
}


/* menu top */

.menu_top {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 15px 15px 0px auto;
    letter-spacing: 1px;
}

.menu_top ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-left: 10px;
}

.menu_top ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    margin-right: 5px;
    display: block;
    padding: 4px 8px;
    outline: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #d39e6b solid 1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.menu_top ul li a {
    color: #f5c994 !important;
    text-decoration: none;
    display: block;
    padding: 2px 2px;
    outline: none;
    text-shadow: 1px 1px 1px #000;
}

.menu_top ul li a:hover {
    color: #f5c994 !important;
    text-decoration: none;
    display: block;
    padding: 2px 2px;
    outline: none;
    text-shadow: 1px 1px 1px #000;
}


/* ------- panel slider ------- */

.panel_slider {
    position: relative;
    border-bottom: 1px solid #28108F;
    border-bottom-color: #28108F;
    width: 960px;
    height: 360px;
    margin: auto;
    padding-top: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-position: 0 30px;
}


/* ------- panel bar ------- */

.panel_bar {
    background-size: 200px 70px;
    width: 960px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    border-top: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.button_items {
    margin-top: 10px;
    position: relative;
    height: 20px;
}

.button_bar {
    margin-left: 10px;
    float: left;
    cursor: pointer;
    display: block;
}

.button_bar a {
    text-decoration: none;
    color: #5A3C22;
    text-align: center;
    outline: none;
    text-shadow: 0px 0px 0px #000;
    ;
}


/* ------- slides ------- */

.slide_animate {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
    float: left;
    background-position: 0 30px;
    display: block;
}

.slide_animate img {
    display: block;
}


/* ------- arrows navigate ------- */

#more_minus_box {
    z-index: 99999;
    position: absolute;
    top: 40%;
    right: 10px;
    width: 35px;
    height: 55px;
    padding: 2px;
    opacity: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

#icon_minus {
    background: #000;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 3px;
}

#icon_more {
    background: #000;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    display: block;
}

#icon_refresh {
    margin-top: 20px;
    background-size: 52px 52px;
    height: 52px;
    width: 52px;
}

#icon_info {
    margin-top: 20px;
    background-size: 52px 52px;
    height: 52px;
    width: 52px;
}

#icon_exit {
    margin-top: 20px;
    background-size: 52px 52px;
    height: 52px;
    width: 52px;
}

.fx_shadow {
    display: none !important;
}

.content-app-icon {
    width: 100%;
    height: 100%;
    border: 2px solid #dfa784;
    border-radius: 10px;
    background: white;
    margin: 0 auto;
}

.product {
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.bookshelf_message {
    margin: auto;
    width: 70%;
    position: fixed;
    text-align: center;
    bottom: 50px;
    font-family: flavours;
    font-size: 1.5em;
    display: block;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.product_title {
    background-size: 192px 50px !important;
    width: 292px !important;
    height: 50px !important;
    max-width: 140% !important;
    max-height: 100% !important;
    left: -25px !important;
    top: 80px !important;
    margin-top: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4) !important;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4) !important;
}

.product_title p {
    font-size: 17px;
    font-family: flavours !important;
    color: #266576 !important;
    padding-top: 10px;
    margin-top: 20px;
}

.product_name {
    font-size: 0.8em;
    font-family: BalooBhai;
    font-style: bold;
    color: #454545;
    margin: 8px 0;
    text-transform: uppercase;
    width: 100%;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#arrow_box {
    display: none;
}