@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('fonts/NotoSansDevanagari-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansTelugu';
    src: url('fonts/NotoSansTelugu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansKannada';
    src: url('fonts/NotoSansKannada-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansOriya';
    src: url('fonts/NotoSansOriya-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansGujarati';
    src: url('fonts/NotoSansGujarati-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansBengali';
    src: url('fonts/NotoSansBengali-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansMalayalam';
    src: url('fonts/NotoSansMalayalam-Regular.ttf') format('truetype')
}


@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSansGurmukhi';
    src: url('fonts/NotoSansGurmukhi-Regular.ttf') format('truetype')
}


@font-face {
    font-family: 'NotoSansTamil';
    src: url('fonts/NotoSansTamil-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'flavours';
    src: url('fonts/Flavors-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'NotoSans';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype')
}

@font-face {
    /* reference: http://www.latofonts.com/lato-free-fonts/ */
    font-family: 'lato-black';
    src: url('fonts/lato/Lato-Black.ttf') format('opentype')
}

@font-face {
    font-family: 'lato-bold';
    src: url('fonts/Lato/Lato-Bold.ttf') format('opentype')
}

@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato/Lato-Light.ttf') format('opentype')
}

@font-face {
    font-family: 'lato-medium';
    src: url('fonts/lato/Lato-Medium.ttf') format('opentype')
}

@font-face {
    font-family: 'lato-regular';
    src: url('fonts/lato/Lato-Regular.ttf') format('opentype')
}

.splashText {
    position: absolute;
    top: 20vh;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    color: #494949;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: auto;
    -webkit-line-clamp: 2;
    font-size: 9vh;
    -webkit-text-stroke: 0.2vh #009e81;
}

.splashScreen {
    width: 40vw;
    left: 30vw;
    bottom: 8vh;
    text-align: center;
    position: absolute;
    font-family: lato-medium;
    color: #494949;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-size: 2vw;
}

.splash-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    font-size: 5vh;
}

#pluginTemplate {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

ion-popover-view.fit {
    height: auto !important;
    width: auto !important;
}

ion-popover-view.fit {
    height: auto !important;
    width: auto !important;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

body {
    font-family: NotoSans, NotoSansOriya, NotoSansGujarati, NotoSansMalayalam;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}

.menu-item {
    font-size: 25px !important;
    margin: -8px !important;
    padding: 18px !important;
}

.no-events {
    pointer-events: none;
}

.overlay-html {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.overlay-html * {
    pointer-events: all;
}

.font-lato {
    font-family: lato-medium;
}

.cover-page-title.icon-font {
    text-transform: uppercase;
    color: #494949;
    text-align: center;
    overflow: hidden;
    padding: 1% 2%;
    text-overflow: ellipsis;
    line-height: 1.8em;
    margin-bottom: 2%;
    width: 100%;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: auto;
    -webkit-line-clamp: 2;
    font-size: 9vh;
    -webkit-text-stroke: 0.2vh #009e81;
    z-index: 0;
}

.gc-text-elipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon-font.gc-ep-title {
    width: 100%;
    text-transform: uppercase;
    padding: 0.3em 0em 0.3em;
    font-size: 1.8em;
    text-align: center;
    color: #494949;
}

.menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
}

.icon-font {
    font-family: lato-medium;
    color: #FFFFFF;
    text-align: center;
}

.label-white-stoke {
    text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
}

.gc-menu {
    font-size: 1.8vw;
    position: absolute;
    /*text-transform: uppercase;*/
    width: 35%;
    height: 100%;
    top: 0;
    margin-left: -35%;
}

.gc-menu-cont {
    height: 100%;
    background-color: #ffffff;
}

.gc-menu .gc-menu-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-menu-cont .gc-menu-title-cont {
    height: 20%;
    background-color: orange;
}

.gc-menu-cont .icon-font {
    color: #333;
}

.gc-menu-cont .gc-menu-options {
    height: 16%;
    border-bottom: 1px solid #aaaaaa;
    overflow: hidden;
    padding-top: 2.5%;
    padding: 2.6% 3%;
    font-family: lato-regular;
}

.gc-menu-cont .gc-menu-options img {
    vertical-align: middle;
    width: 20%;
}

.gc-menu-cont .gc-menu-options span {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    padding-left: 5%;
    overflow: hidden;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.gc-menu-cont .gc-menu-options.profile {
    display: inline-block;
    width: 100%;
    /*vertical-align: middle;*/
    /*padding-left: 5%;*/
    /*overflow: hidden;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gc-menu-title-cont p {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.8vw;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    padding: 2vh 2vw;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 1.6em;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gc-menu-btn {
    float: right;
    width: 20%;
    margin-top: 6%;
    margin-right: -24%;
}

.gc-menu a.gc-menu-btn {
    position: relative;
}

.gc-menu-collection-cont {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    top: 31%;
    right: 7%;
}

.gc-menu-collection-cont img {
    width: 50%;
    border-radius: 40px;
}

.popup-bg-img {
    width: 100%;
}

.gc-menu-replay-cont {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    top: 31%;
    right: 7%;
}

.gc-menu-replay-cont img {
    width: 50%;
}

.gc-menu-genie-cont {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    width: 50%;
    top: 31%;
    left: 2%;
}

.gc-menu-genie-cont img {
    width: 50%;
}

.gc-menu-mute-cont {
    bottom: 14%;
    position: absolute;
    width: 100%;
}

.gc-menu-inst-cont {
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
}

.gc-menu-inst-cont img {
    width: 50%;
}

.inst-message-cont {
    background-color: #ECECEC;
    position: absolute;
    width: 96%;
    height: 97%;
    z-index: 2;
    text-transform: initial;
    top: 0%;
    margin: 2%;
}

.inst-message-cont p {
    font-family: NotoSansRegular;
    font-size: 1.2em;
    margin: 25% 5%;
    height: 72%;
    overflow: auto;
    text-align: center;
    font-weight: 500;
}

.inst-icon {
    position: absolute;
    left: 40%;
    top: 3%;
    width: 25%;
}

.inst-done {
    text-align: center;
    bottom: 2%;
    position: absolute;
    left: 25%;
    width: 50%;
}

.gc-menu-btn img.user {
    position: absolute;
    width: 107%;
    margin-top: -4px;
    margin-left: -4%
}

.gc-menu-btn img.icon {
    position: absolute;
    margin-top: 40%;
    width: 100%;
}

.gc-menu-btn.old_menu img.icon {
    margin-top: 0;
}

.nav-icon {
    position: absolute;
    width: 7%;
    top: 45%;
}

.nav-icon img {
    width: 100%;
}

.nav-next {
    right: 1%;
}

.nav-previous {
    left: 1%;
}

.nav-previous-enable {
    display: none;
}

.nav-enable {
    opacity: 1;
}

.nav-disable {
    opacity: 0.4;
}

.overlay-html>assess {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 9%;
}

.assess {
    text-decoration: none;
}

.assess-enable {
    opacity: 1;
    -webkit-text-stroke: 0.2vh #62ac0c;
}

.assess-disable {
    opacity: 1;
    -webkit-text-stroke: 0.2vh grey;
}

.assess img {
    width: 100%;
}

.assess p {
    position: absolute;
    line-height: 100%;
    font-size: 5vh;
    color: white;
    font-family: NotoSansRegular;
    text-align: center;
    width: 100%;
    padding-top: 10%;
}




/* For .assess-popup height:65% is important to make it align vertically and horizontally with the screen */

.assess-popup {
    height: 100%;
    border-radius: 10px;
}

.assess-goodjob-popup {
    top: 8%;
    left: 30%;
}

.credit-popup {
    width: 60%;
    height: 60%;
    top: 20%;
    left: 25%;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-retry {
    width: 35%;
    display: inline-block;
    margin: 4% 4%;
}

.popup-retry-next {
    width: 20%;
    display: inline-block;
    margin: 0% 3%;
}

.popup-goodjob-next {
    display: inline-block;
    width: 40%;
    margin: 4% 4%;
}

.popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.popup-full-body {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 60vw;
     height: 70vh;
 }

.popup-close {
    position: inherit;
    width: 8%;
    right: 43%;
    top: 1.5%;
}

.gc-popup-icons-div {
    position: absolute;
    color: #2691D0;
    text-align: center;
    padding: 0%;
    width: 50%;
    height: 40%;
}

.goodjob_next_div {
    font-size: 1.8em;
    top: 33%;
    text-align: center;
    left: 45%;
}

.tryagain-retry-div {
    font-size: 1.1em;
    bottom: 53%;
    left: 45%;
    padding: 0;
    margin: 10px;
}

.tryagian-next-div {
    font-size: 1.1em;
    bottom: 26%;
    left: 47%;
}

.gc-cp-scroll-ionic {
    transform: translate3d(0px, -28px, 0px) scale(1);
    height: 100%;
}

.gc-cp-header-div {
    position: absolute;
    top: 15%;
    width: 100%;
}

.gc-cp-header {
    background-color: transparent;
    border-bottom: 0px;
    background-image: none;
    height: 20%;
}

.credit-body-icon-font .stage-Teacherinst {
    width: 82%;
    word-wrap: break-word;
    height: 75%;
    left: 10%;
    position: absolute;
    font-size: 0.7em;
    overflow-y: auto;
    overflow-x: hidden;
}

.gc-play-icon {
    width: 17%;
    cursor: pointer;
}

.credit-body-icon-font::-webkit-scrollbar,
.stage-Teacherinst::-webkit-scrollbar {
    width: 3%;
    border-radius: 30%;
}

.credit-body-icon-font::-webkit-scrollbar-track,
.stage-Teacherinst::-webkit-scrollbar-track {
    background-color: #d0cfce;
    border-radius: 10%;
}

.credit-body-icon-font::-webkit-scrollbar-thumb,
.stage-Teacherinst::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 35%;
}

.credit-body-icon-font::-webkit-scrollbar-thumb:hover,
.stage-Teacherinst::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
    border-radius: 10%;
}

.credit-body-icon-font table {
    width: 100%;
    table-layout: fixed;
    height: auto;
}

.credit-body-icon-font tbody {
    height: 100%;
    overflow: auto;
}

.gc-cp-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-play-container {
    /*top: 100%;*/
    position: absolute;
    width: 100%;
    height: 20%;
}

.gc-cp-coll {
    position: absolute;
    width: 25%;
    right: 4%;
    text-align: right;
}

.gc-cp-coll img {
    width: 25%;
}

.gc-cp-genie {
    position: absolute;
    width: 25%;
    left: 2%;
}

.gc-cp-genie img {
    width: 25%;
}

.gc-ep-cong,
.gc-ep-related-cont-next {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 5%;
    color: #494949;
}

.gc-ep-cong {
    margin: 1% 0% 0%;
}

.gc-content-owner {
    font-size: 1em;
    width: 100%;
    text-align: center;
    color: #494949;
    padding: 0.05em 0em 0.5em;
}

.gc-ep-cont {
    width: 100%;
    height: 100%;
}

.gc-fc-popup-keyboard {
    margin-top: -25%;
}

.gc-ep-home {
    position: absolute;
    width: 30%;
    left: 3%;
    top: 3%
}

.gc-ep-home img {
    width: 21%;
}

.btn-black {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border-color: #413a36;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #413a36;
    padding: 1% 8%;
    text-decoration: none;
    border-style: solid;
}

.btn-normal {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border-color: #413a36;
    font-size: 1em;
    font-weight: bold;
    background: #413a36;
    padding: 1% 8%;
    text-decoration: none;
    border-style: solid;
    background-color: transparent;
}

.btn-black:hover {
    background: #454545;
    text-decoration: none;
    color: white;
}

.gc-ep-time-score {
    position: absolute;
    border: 2px solid #2fcce7;
    top: 23%;
    margin: 5% 9%;
    width: 86%;
}

.gc-ep-score {
    width: 30%;
    left: 70%;
    top: 0;
    margin: 4% 2% 0 0;
    text-align: center;
    float: right;
}

.gc-ep-time {
    width: 30%;
    margin: 5% 0% 0% 4%;
    text-align: center;
    float: left;
}

.img-float-left {
    width: 33%;
}

.img-float-mid {
    width: 11%;
}

.font-lato.gc-ep-cont .genie-home span {
    display: none;
}

.gc-ep-time-mid {
    width: 100%;
    padding: 4%;
    text-align: center;
}

.gc-white-text {
    color: #2fcce7;
}

.gc-ep-white-title {
    font-size: 1.5em;
    margin: 0;
}

.gc-ep-content-holder {
    position: absolute;
    top: 25%;
    width: 84%;
    height: 62%;
    margin: 0 9.4%;
    background-color: rgba(255, 255, 255, 1);
}

.gc-ep-footer-icons.gc-ep-replay {
    display: inline-block;
    width: 48%;
    height: 100%;
    text-align: center;
    /* margin: 0 -5%; */
    /* margin-left: -50%; */
}

.gc-ep-footer-icons.gc-ep-userSwitch {
    display: inline-block;
    width: 48%;
    height: 100%;
    text-align: center;
    /* margin: 0 -5%; */
    /* margin-left: 50%; */
}

.gc-ep-footer-icons img.replay {
    height: 80%;
}

.gc-ep-footer-icons img.user {
    height: 82%;
}

.gc-ep-rating-cont {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 20%;
    padding: 0 5%;
}

.gc-ep-rating {
    width: 75%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    left: 17%;
    text-align: center;
}

.gc-ep-comments {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 5%;
    width: 10%;
    height: 100%;
    float: right;
    text-align: center;
}

.gc-ep-comments img {
    width: 100%;
    height: 100%;
}

.gc-ep-assessment-cont {
    position: absolute;
    width: 50%;
    height: 100%;
}

.gc-ep-related-cont {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

.gc-related-cont {
    width: 100%;
    height: 62%;
    padding: 18% 4% 0px 4%;
    overflow: hidden;
}

.gc-related-list {
    width: 50%;
    position: relative;
    display: inline-block;
    padding: 0px 5px;
    height: 100%;
}

.gc-related-item {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}

.gc-ep-footer {
    position: absolute;
    /*text-align: center;*/
    width: 86%;
    height: 25%;
    bottom: 13%;
    margin: 0 9%;
}

.gc-ep-footer p {
    margin-top: -5px;
    font-size: 1em;
    color: #808080;
    width: 100%;
    height: 70%;
    overflow: auto;
    line-height: 1.2em;
    white-space: normal;
    overflow: hidden;
}

.gc-related-item p {
    margin: 0;
}

.gc-rel-content-img {
    position: absolute;
    text-align: center;
    width: 70%;
    left: 15%;
    height: 68%;
}

.img-center {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.gc-rel-content-img img {
    width: 100%;
    height: auto;
    display: block;
}

.gc-rel-content-img>img {
    height: 100%;
    border: 1px solid;
    border-style: none;
    border-radius: 10px;
    border-width: thin;
}

.gc-repeat-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.gc-repeat-content img {
    width: 60%;
    position: absolute;
    height: 60%;
    top: 20%;
    left: 20%;
}

.gc-popup-new {
    width: 50%;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    position: absolute;
}

.gc-fc-popup {
    width: 50%;
    top: 25%;
    right: 25%;
}

.gc-popup-title-new {
    padding: 3% 5%;
    border-bottom: solid #4FD3F6;
    border-width: 2px;
    color: #0097D2;
    text-transform: uppercase;
}

.gc-popup-body-new {
    padding: 2% 5%;
}

.gc-fd-comments {
    margin: 5px 0px;
    padding: 5px 0px;
    width: 100%;
    height: 80px;
    border-width: 2px;
    border-color: #ccc;
    border-bottom-style: solid;
    border-top-style: solid;
}

.gc-fd-text {
    resize: none;
    height: 79%;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #cccccc;
}

.gc-fd-footer {
    width: 100%;
    text-align: center;
}

.credits-title {
    width: 43%;
    font-size: 1.4em;
    line-height: 2em;
    border-right: 2px solid;
}

.content-noCredits {
    font-size: 3.0vh;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.credits-data {
    width: 100%;
    font-size: 1.2em;
    padding: 2%;
    text-align: center;
}

.gc-loader-area {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

.gc-loader-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gc-ep-loader {
    width: 100%;
    height: 52%;
    padding: 0px 4%;
    overflow: hidden;
    text-align: center;
}

.gc-popup-title {
    top: 14%;
    position: absolute;
    left: 45%;
    font-size: 6vh;
    width: 50%;
}

.end-license {
    position: absolute;
    bottom: 3%;
    left: 9%;
    color: #494949;
    font-size: 0.9em;
}

.icon-opacity {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.gc-fd-commentInfo {
    position: absolute;
    right: 5%;
    bottom: 23%;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(65, 58, 54, 0.8);
    vertical-align: middle;
    display: table;
}

.gc-fd-commentInfo>p {
    color: #fdfdfd;
    font-size: 0.8em;
    vertical-align: middle;
    display: table-cell;
    font-family: NotoSans;
}

.gc-ep-credits {
    width: 30%;
    right: 3%;
    top: 3%;
    position: absolute;
    height: 15.5%;
}

.gc-ep-credits>input[type=button] {
    background-image: url(../../assets/icons/btn_credits.png);
    background-repeat: no-repeat;
    padding: 2% 19%;
    border: none;
    margin-top: 3%;
    background-size: 100% 100%;
}

.gc-btn-credits {
    padding: 8px 8px;
    float: right;
}

.gc-ep-content {
    width: 54%;
    left: 23%;
    top: 1%;
    position: absolute;
}

.gc-ep-score>img {
    width: 31%;
}

.gc-ep-footer-icons>collection>a>img {
    border-radius: 25px;
}

.gc-ep-rating>p {
    font-size: 1.1em;
    color: #494949;
    padding-bottom: 1%;
}

.gc-ep-next {
    position: absolute;
    top: 4%;
    width: 100%;
    height: 20%;
    padding: 0 5%;
}

.gc-fd-text::-webkit-input-placeholder {
    padding-left: 3%;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
}

.gc-contentlist-title {
    color: #413a36;
    font-size: 3vw;
    margin: 4.5% 9%;
    text-align: left;
    -webkit-text-stroke: 0.2vh white;
}

.gc-ionic-contentlist-body {
    left: 5%;
    right: 3%;
    top: 18%;
    height: 82%;
}

.gc-contentlist-play-icon {
    position: absolute;
    top: 40%;
    left: 30%
}

.gc-contentlist-innerdiv {
    width: 100%;
    height: 60%;
}

.gc-contentlist-genie-icon {
    margin: 3% 2%;
}

.gc-contentlist-loading-div {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: none
}

.gc-contentlist-error-div {
    z-index: 9000;
}

.gc-contentlist-inner-loadingdiv {
    margin: auto;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 50%;
    font-weight: bold;
}

.gc-contentlist-loading-text {
    margin: auto;
    width: 100%;
    position: fixed;
    text-align: center;
    font-weight: bold;
}

.gc-menu-genie-cont-icon {
    padding-top: 2%;
    font-size: 0.8em;
    font-weight: normal;
}

.gc-menu-collection-icon {
    padding-top: 2%;
    font-size: 0.8em;
    font-weight: normal;
}

.gc-menu-bottom {
    bottom: 44%;
    position: absolute;
    width: 100%;
}

.gc-menu-replay-icon {
    padding-top: 2%;
    font-size: 0.8em;
    font-weight: normal;
}

.gc-menu-inst-icon {
    padding-top: 2%;
    font-size: 0.8em;
    font-weight: normal;
    padding: 0% 12%;
}

.gc-mute-bg {
    position: absolute;
    width: 60%;
    left: 17%;
}

.gc-ep-cont-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.gc-ep-rating>star-rating {
    height: 100%;
}

.gc-ep-related-cont-next {
    padding: 2%
}

.gc-related-cont-title {
    font-size: 1em;
    text-align: center;
    padding-bottom: 2%;
}

.gc-popup-retry-replay {
    margin: -4% 15% 0 14%;
    line-height: 100%;
}

.gc-ep-credit {
    margin-right: 10px;
}




/*Loader css*/

#loaderArea {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(29, 28, 27, 0.8);
    z-index: 999999;
    position: absolute;
}

.preloader-wrapper {
    width: 56px;
    height: 56px;
    z-index: 2000;
    top: 44%;
    left: 45%;
    position: relative;
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.spinner-layer {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    border-color: #fdc540;
    height: 100%;
    opacity: 1;
    position: absolute;
    width: 100%
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg)
    }
    to {
        -webkit-transform: rotate(1080deg)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(130deg)
    }
}

@keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

.circle {
    width: 200%;
    height: 100%;
    border-width: 6px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
}

.gap-patch .circle {
    width: 1000%;
    left: -450%;
}

.circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}




/* User Switcher Modal css starts */


/* The Modal (background) */

#userSwitchingModal.user-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99999;
    /* Sit on top */
    padding-top: 2vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-family: lato-black lato-black-italic lato-bold lato-bold-italic lato-hairline lato-hairline-italic lato-heavy lato-heavy-italic lato-light lato-light-italic lato-medium lato-medium-italic lato-regular lato-semibold lato-semibold-italic lato-thin lato-thin-italic;
}




/* Modal Content */

#userSwitchingModal .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 98%;
    height: 96vh;
    position: relative;
}

#userSwitchingModal .modal-content .user-header {
    background-color: #eee;
    text-align: center;
    font-family: lato-Regular;
    font-size: 2vw;
}

#userSwitchingModal .modal-content .user-header P {
    margin-bottom: 0;
    padding-top: 7px;
    text-transform: uppercase;
}




/* The Close Button */

#userSwitchingModal .close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 7px;
}

#userSwitchingModal .close:hover,
#userSwitchingModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#userSwitchingModal .slider-container {
    /*max-height: 80%;*/
    /*overflow-y: scroll;*/
    /*position: relative;*/
}

#userSwitchingModal .slider-container #userSlider,
#userSwitchingModal .slider-container #groupSlider {
    min-height: 115px;
    height: 35vh;
}

#userSwitchingModal #userSlider,
#userSwitchingModal #groupSlider {
    min-height: 145px;
    width: 100%;
    padding: 5px 20px 0px 20px;
    background-color: #eee;
}

#userSwitchingModal #groupSlider {
    background-color: #fefefe;
}

#userSwitchingModal #groupSlider .fallback-text {
    text-align: center;
    margin-top: 25px;
    color: #666;
}

#sliderContainer .slider-tag,
#sliderContainer .slider-tag {
    color: #2691d0;
    position: absolute;
    left: 20px;
    margin-top: 1.5vh;
    font-size: 1.8vw;
    font-family: lato-regular;
}

#userSwitchingModal #userSlider .profile,
#userSwitchingModal #groupSlider .profile {
    display: inline-block;
    float: left;
    text-align: center;
    min-width: 60px;
    width: 10vw;
    /*height: 100%;*/
    margin-left: 15px;
    margin-top: 5vh;
}

#userSwitchingModal .mCSB_draggerRail {
    width: 20px;
}

#userSwitchingModal .profile.selected img {
    border: 3px solid #2691d0;
}

#userSwitchingModal .profile img {
    border-radius: 50%;
    padding: 2px;
    width: 100%;
    height: 100%;
}

#userSwitchingModal .profile p {
    margin-top: 2px;
    font-size: 2.2vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: lato-light;
}

#userSwitchingModal .modal-content .model-butttons {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#userSwitchingModal .model-butttons .replay,
#userSwitchingModal .model-butttons .continue {
    border-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 1.5vh 3vw;
    margin-left: 5px;
    background-color: #2691d0;
    color: #fefefe;
}

#userSwitchingModal .model-butttons .replay img {
    margin-right: 10px;
    vertical-align: middle;
    width: 3vw;
}

#userSwitchingModal .model-butttons span {
    font-family: lato-regular;
    font-size: 2vw;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 15px;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0);
}

.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 4px;
    margin: 10px 0;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0);
}




/* User Switcher Modal endes*/


/*Loader Css*/

body {
    background-color: #fff;
}

.reload-stage {
    position: absolute;
    bottom: 0;
}

#progressArea {
    position: relative;
    left: 25vw;
    top: 50vh;
    width: 50vw;
    height: 2em;
    text-align: center;
    border-radius: 90px;
    background-color: #ddd;
}

.gc-loader-prog {
    position: absolute;
    height: 2em;
    color: white;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#progressBar {
    position: absolute;
    height: 2em;
    border-radius: 90px;
    background-color: #e67300;
}




/*Ionic is overwriting css for ul & ol css bullets and numbers*/


/*This is for richtext support*/

.richText ul {
    list-style-type: disc !important;
}

.richText ul,
.richText ol {
    -webkit-margin-before: 1em !important;
    -webkit-margin-after: 1em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    -webkit-padding-start: 40px !important;
}

.richText ol {
    list-style-type: decimal !important;
}

.richText em {
  font-style: italic !important;
}

.richText strong {
  font-weight: bold !important;
}

.richText s {
  text-decoration: line-through !important;
}

/*For richtext WYSIWYG preview*/
.richText * {
    line-height: 1.3 !important;
}

/* new popup style */

@-webkit-keyframes sign-board-anim {
    from {
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        visibility: visible;
        -webkit-transform: translateY(-85%);
        transform: translateY(-85%);
    }
}

@keyframes sign-board-anim {
    from {
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        visibility: visible;
        -webkit-transform: translateY(-85%);
        transform: translateY(-85%);
    }
}

@-webkit-keyframes banner-anim {
    from {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        -webkit-transform: scale(1);
        -khtml-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes banner-anim {
    from {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        -webkit-transform: scale(1);
        -khtml-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes incorrect-button-anim {
    from {
        visibility: hidden;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        visibility: visible;
        -webkit-transform: scale(1.1);
        -khtml-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes incorrect-button-anim {
    from {
        visibility: hidden;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        visibility: visible;
        -webkit-transform: scale(1.1);
        -khtml-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes correct-button-anim {
    from {
        visibility: hidden;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        visibility: visible;
        -webkit-transform: scale(1.1);
        -khtml-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes correct-button-anim {
    from {
        visibility: hidden;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    to {
        visibility: visible;
        -webkit-transform: scale(1.1);
        -khtml-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.correct-answer,
.wrong-answer {
    position: relative;
    height: 70%;
    overflow: hidden;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.correct-answer,
.correct-answer .banner {
    background: #A3D39C;
}

.wrong-answer,
.wrong-answer .banner {
    background: #9CC0D3;
}

.banner,
.sign-board {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.banner {
    z-index: 10;
    height: 30%;
    width: 50%;
}

.sign-board {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #fff;
    bottom: -35%;
    width: 30%;
    height: 65%;
    border-radius: .5em;
    -webkit-animation: sign-board-anim 0.2s ease-out forwards;
    animation: sign-board-anim 0.2s ease-out forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sign-board img {
    position: relative;
    margin: auto;
}

.banner img {
    position: relative;
    top: -30%;
    -webkit-animation: banner-anim 0.1s ease-out forwards;
    animation: banner-anim 0.1s ease-out forwards;
}

#incorrectButton {
    -webkit-animation: incorrect-button-anim 0.1s ease-out forwards;
    animation: incorrect-button-anim 0.1s ease-out forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#correctButton {
    -webkit-animation: correct-button-anim 0.1s ease-out forwards;
    animation: correct-button-anim 0.1s ease-out forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.wrong-answer .sign-board img,
.correct-answer .sign-board img {
    top: -4vh;
    visibility: hidden;
}

#popup-buttons-container {
    background-color: white;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

#popup-buttons-container .button {
    font-size: 2.5vw;
    min-height: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
    border-radius: 0.6em;
    align-items: center;
}

#popup-buttons-container .primary {
    background: #3098CD;
    color: white;
    border: 0.1px solid #307ccd;
}

.center {
    margin: 0 auto;
}




/* new popup style */
