<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.exitappatsecond"
    version="1.0.13">
	
    <name>Cordova ExitAppAtSecond plugin</name>
    <description>Exit app at second on android and wp8.</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,exitappatsecond,extension</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-exitappatsecond</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-exitappatsecond/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>	
	
    <js-module src="www/exitappatsecond.js">
        <clobbers target="window.exitappatsecond" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExitAppAtSecond" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.exitappatsecond.ExitAppAtSecond"/>
            </feature>
        </config-file>
		
        <source-file src="src/android/ExitAppAtSecond.java" target-dir="src/com/cranberrygame/cordova/plugin/exitappatsecond" />		
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="ExitAppAtSecond">
                <param name="wp-package" value="ExitAppAtSecond"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/ExitAppAtSecond.cs" />
    </platform>	
</plugin>