<style>
/* .swiper-background {
        background-image: url("img/icons/");
        background-size: cover;
        background-repeat: round;
    } */

.swiper-slide {
    /*background-image: url('img/icons/img_panel.png');*/
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 190px;
    padding: 15px;
    border-radius: 10%;
    background-color: white;
    margin-left: 30px !important;
    margin-bottom: 30px !important;
    margin-top: 10px !important;
}
</style>
<ion-pane class="swiper-background pane" ng-show="showPage">
    <img class="gc-cp-background" ng-src="{{imageBasePath}}img_bg.png">
    <ion-header-bar class="bar-header bar disable-user-behavior gc-cp-header">
        <div preview="false" class="gc-cp-header-div">
            <collection class="gc-cp-coll"></collection>
            <genie icon="icn_square_home.png" class="gc-cp-genie"></genie>
        </div>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll  has-header">
    <div class="scroll gc-cp-scroll-ionic">
        <center>
            <div id="cover">
                <p class="font-baloo cover-page-title">{{item.name}}</p>
            </div>
            <div class="gc-play-container" ng-show="item.status == 'ready'">
                <img class="gc-play-icon" ng-click="playContent(item)" src="{{imageBasePath}}icn_bg_play.png">
            </div>
        </center>
    </div>
    </ion-content>
</ion-pane>