<div class="menu-overlay" ng-click="hideMenu()" ng-cloak></div>
<!-- Menu container -->
<div class="gc-menu">
    <a class="gc-menu-btn" href="javascript:void(0)" ng-click="openMenu()" style="left:5%">
        <img class="menu-icon" ng-src="{{imageBasePath}}menu_icon.png" ng-hide="menuOpened" style="width: 100%" />
    </a>
    <div class="gc-menu-cont" ng-show="menuOpened">
        <div class="gc-menu-title-cont">
            <p class="icon-font">{{item.name}}</p>
        </div>
        <div class = "gc-menu-options">
            <restart></restart>
        </div>
        <div class = "gc-menu-options profile">
            <img alt="prof img" src="http://placehold.it/55x55"/>
            <span> {{"Krushanu Mohapatra"}} <br/> <small> {{"Change"}} </small></span>

        </div>
        <div class = "gc-menu-options">
            <img alt="sound img" src="http://placehold.it/55x55"/>
            <span> Sound {{"on"}}</span>

        </div>
        <div class = "gc-menu-options">
            <stage-instructions></stage-instructions>
        </div>
        <div class = "gc-menu-options">
            <genie icon="icn_home.png"></genie>
        </div>
        <div class="inst-message-cont " ng-show="showInst">
            <img class="inst-icon" ng-src="{{imageBasePath}}icn_teacherinfo.png" ng-click="expeandInstruction()" />
            <p class="stage-Teacherinst">{{ stageInstMessage }}</p>
            <img class="inst-done" ng-src="{{imageBasePath}}icn_done.png" ng-click="closeInstructions()" />
        </div>
    </div>
</div>
