<div class="menu-overlay" ng-click="hideMenu()" ng-cloak></div>
<!-- Menu container -->
<div class="gc-menu">

	<a class="gc-menu-btn" href="javascript:void(0)" ng-click="openMenu()" style="left:5%">
		<img class="menu-icon" ng-src="{{imageBasePath}}menu_icon.png" ng-hide="menuOpened" style="width: 100%" /> 
	</a>

	<div class="gc-menu-cont">
		<img class="gc-menu-bg" ng-src="{{imageBasePath}}menu_background.png">
		<div class="gc-menu-title-cont">
			<p class="icon-font menu-title-font">{{item.name}}</p>	

			<!-- menu_close_icon -->
			<a class="gc-menu-btn-close" href="javascript:void(0)" ng-click="openMenu()">
				<img ng-src="{{imageBasePath}}menu_close_icon.png" ng-show="menuOpened" style="width: 100%" />    
			</a>
		</div>

		<div class="gc-menu-home-cont">
			<home></home>	
			<p class="icon-font label-white-stoke" style="padding-top:2%; font-size:4vh;">{{ languageSupport.home }}</p>
		</div>

		<div class="gc-menu-mute-cont">
			<mute></mute>
			<p class="icon-font label-white-stoke" style="padding-top:2%; font-size:3vh; ">{{ textstatus}}</p>
		</div>

		<div class="gc-menu-genie-cont">
			<genie></genie>
			<p class="icon-font label-white-stoke" style="padding-top:2%; font-size:4vh; ">{{ languageSupport.genie }}</p>
		</div>

		<div class="gc-menu-inst-cont">
			<stage-instructions></stage-instructions>
			<p class="icon-font label-white-stoke" style="padding-top:2%; font-size:3vh; ">{{ languageSupport.instructions }}</p>
		</div>


		<div class="inst-message-cont" ng-show="showInst">
			<p class="inst-message">{{ stageInstMessage }}</p>
			<div class="inst-done">
				<input type="button" name="Done" value="Done" ng-click="closeInstructions()">
			</div>
		</div>
	</div>
</div>		