<div id="gameAreaLoad" style="margin:auto; position:absolute;width:100%;height:100%;">
	<div style="margin: auto; width: 100%; position: fixed; text-align: center; top: 40%;">
	    <div style="margin-bottom: 2%;">
	    	<ion-spinner icon="bubbles"></ion-spinner>
	    </div>
	    <div style="margin: auto; width: 100%; position: fixed; text-align: center;">
			<div style="font-weight: bold; font-size: 40px;margin-bottom:3%;">Loading...</div>
			<div style="font-size: 30px; color: gray;" ng-if="item.loadingMessage">{{item.loadingMessage}}</div>
		</div>
	</div>
</div>

<div id="gameArea">		
	<!-- HTML Layer -->
	<div class="overlay-html" id="overlayHTML" ng-controller="OverlayCtrl" ng-init="initMenu()">

		<div id="navigation" style="position:absolute; margin-left: 60px; top: 5px;">
			<a href="javascript:void(0)" ng-click="gotTOHome()" style="background:url(img/icons/icon_home.png) no-repeat right bottom;height:51px;width:51px;float:right;background-size: 40px 40px; margin-right:5px"></a>
			</div>
		<div id="navigation" style="right:0; position:absolute">
			<a href="javascript:void(0)" onclick="exitApp()" style="background:url(img/icons/img_bg.png) no-repeat right bottom;height:47px;width:51px;float:right;background-size: 35px 35px; margin-right:10px"></a>
		</div>

		<navigation-buttons></navigation-buttons>

		<!-- Note: all the HTML elements should be above this menu tag
				 Don't add any HTML elements after this menu tag
		 -->
		<!-- Menu overlay to hide canvas -->
		<menu></menu>
	 </div>
	
	<!-- HTML plugin elements(dynamically adding here) -->
	<div>
		<!-- all HTML plugins & Custom plugins should add here -->
	</div>

	<!-- Canvas element(used by CreateJS) -->
  <canvas id="gameCanvas" width="1366" height="768"></canvas>
</div>


<div id="errorDiv" style="z-index: 9999;" ng-show="showMessage" ng-click="showMessage = !showMessage">
    <div ng-bind-html="message" class="bar bar-energized bookshelf_message">
    </div>
</div>
<iframe id="htmlFrame" ng-src="{{currentProjectUrl}}" width="1366" height="768" scrolling="auto" style="display:none;"> </iframe>
