<div id="gameArea">		
	<!-- Navigation and Menu  -->
	<div class="overlay-html" id="overlayHTML" ng-controller="OverlayCtrl" ng-init="initMenu()" ng-cloak>
        <div>
            <a class="nav-icon nav-previous" href="javascript:void(0);"><img style="opacity:0.4;" ng-src="{{imageBasePath}}back_icon.png"></a>
            <a class="nav-icon nav-previous nav-previous-enable" id="navPrev" href="javascript:void(0);"><img ng-src="{{imageBasePath}}back_icon.png" onclick="navigate('previous')"></a>
        </div>

        <div>
            <a class="nav-icon nav-next" href="javascript:void(0);"><img style="opacity:0.4;"  ng-src="{{imageBasePath}}next_icon.png"></a>    
            <a class="nav-icon nav-next"  id="navNext" href="javascript:void(0);"><img ng-src="{{imageBasePath}}next_icon.png" onclick="navigate('next')"></a>
        </div>
        
        <assess image="icons.assess.enable"></assess>

		<reload-stage style="position: absolute;width: 7%;bottom: 1%;left: 1%;"></reload-stage>
		
	  	<!-- Note: all the HTML elements should be above this menu tag
	     Don't add any HTML elements after this menu tag
	   	-->
        <!-- Menu overlay to hide canvas -->
        <menu></menu>
        <!-- All the popup's should add here -->
        <popup id="goodJobPopup" popup-body="goodJob.body" ></popup>
        <popup id="tryAgainPopup" popup-body="tryAgain.body"></popup>
    </div>
    <!-- HTML plugin elements(dynamically adding here) -->
    <!-- Canvas elment(used by CreateJS) -->
    <canvas id="gameCanvas" width="1366" height="768"></canvas>
</div>
<div id="errorDiv" style="z-index: 9999;" ng-show="showMessage" ng-click="showMessage = !showMessage">
    <div ng-bind-html="message" class="bar bar-energized bookshelf_message"></div>
</div>
<iframe id="htmlFrame" ng-src="{{currentProjectUrl}}" width="1366" height="768" scrolling="auto" style="display:none;"></iframe>