node_modules/
platforms/
plugins/
resources/
public/stories/
public/worksheets/
.idea
public/js/app/quizapp-0.3.min.js
public/js/app/telemetry-lib-0.3.min.js
public/js/app/speech.js
public/js/app/renderer.js
