node_modules/
platforms/
plugins/
resources/
public/stories/
public/worksheets/
.idea
public/js/app/quizapp-0.3.min.js
public/js/app/telemetry-lib-0.3.min.js
public/js/renderer.min.js
public/js/telemetry.min.js
public/js/app/speech.js
public/js/app/renderer.js
public/js/app/telemetry.js
app-data/content-list.json
coverage/
*.log
public/player-build
public/coreplugins-dist
config.dist.xml