<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ekstep.quiz.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quiz-App</name>
    <description>
        Ekstep Quiz App.
    </description>
    <author email="dev@ilimi.in" href="http://www.ilimi.in/">
        Ilimi Team.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon density="ldpi" src="www/img/icons/app-icon.png" />
        <icon density="mdpi" src="www/img/icons/app-icon.png" />
        <icon density="hdpi" src="www/img/icons/app-icon.png" />
        <icon density="xhdpi" src="www/img/icons/app-icon.png" />
        <icon density="xxhdpi" src="www/img/icons/app-icon.png" />
        <icon density="xxxhdpi" src="www/img/icons/app-icon.png" />
        <splash density="land-ldpi" src="www/img/icons/splash.png" />
        <splash density="land-mdpi" src="www/img/icons/splash.png" />
        <splash density="land-hdpi" src="www/img/icons/splash.png" />
        <splash density="land-xhdpi" src="www/img/icons/splash.png" />
        <splash density="land-xxhdpi" src="www/img/icons/splash.png" />
        <splash density="land-xxxhdpi" src="www/img/icons/splash.png" />
        <splash density="port-ldpi" src="www/img/icons/splash.png" />
        <splash density="port-mdpi" src="www/img/icons/splash.png" />
        <splash density="port-hdpi" src="www/img/icons/splash.png" />
        <splash density="port-xhdpi" src="www/img/icons/splash.png" />
        <splash density="port-xxhdpi" src="www/img/icons/splash.png" />
        <splash density="port-xxxhdpi" src="www/img/icons/splash.png" />
    </platform>
    <preference name="xwalkMode" value="shared" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
