<?xml version='1.0' encoding='utf-8'?>
<manifest android:versionCode="1" android:versionName="0.0.1" package="org.ekstep.geniecanvas" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:hardwareAccelerated="true" android:supportsRtl="true">
        <activity android:launchMode="singleTop" android:alwaysRetainTaskState="true" android:name="MainActivity" android:screenOrientation="sensorLandscape" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
