<style>
#sunbirdUserSwitchingModal .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 98%;
    height: 96vh;
    position: relative;
    font-family: notosans;
}
#sunbirdUserSwitchingModal .modal-content .user-header {
    background-color: #eee;
    font-size: 2vw;
    padding: 0px 20px;
    height: 15%;
}
#sunbirdUserSwitchingModal .modal-content .user-header .active {
    color: #1786fe;
    border-bottom: 3px solid #7d87ff;
}
/* The Close Button */
#sunbirdUserSwitchingModal .close {
    color: #969799;
    float: right;
    font-size: 4em;
    margin-top: 15px;
}
#sunbirdUserSwitchingModal .close:hover,
#sunbirdUserSwitchingModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#sunbirdUserSwitchingModal .model-butttons .replay {
    border-radius: 5px;
    padding: 7px 35px;
    background-color: #007aff;
    color: #fefefe;
    float: right;
    margin: 0.5em 20px 0 0;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}
/* User Switcher popup*/
#sunbirdUserSwitchingModal.user-modal {
    display: block;
    position: fixed;
    z-index: 99999;
    padding-top: 2vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#sunbirdUserSwitchingModal .modal-content .userswitcher-card {
    padding: 12px 8px 0px 10px;
    height: 32%;
    width: 50%;
}
#sunbirdUserSwitchingModal .modal-content .tab button {
    border: none;
    outline: none;
    cursor: pointer;
}
#sunbirdUserSwitchingModal .modal-content #users {
    height: 70%;
    overflow-y: scroll;
    padding-left: 9px;
    padding-right: 9px;
}
#sunbirdUserSwitchingModal .modal-content .user-header .tablinks {
    padding: 7px 16px 0px 16px;
    font-size: 1.3em;
    text-transform: uppercase;
    min-height: 100%;
    font-weight: bold;
}
#sunbirdUserSwitchingModal .modal-content .model-butttons {
    display: table;
    width: 100%;
    height: 15%;
}
#sunbirdUserSwitchingModal .modal-content .model-butttons .user-footer {
    background-color: #fff;
    border-top: 2px solid #f3f3f3;
    border-bottom: none;
    vertical-align: middle;
    display: table-cell;
}
#sunbirdUserSwitchingModal .modal-content .grid-container {
  display: inline-grid;
  grid-template-columns: auto;
}
#sunbirdUserSwitchingModal .modal-content .grid-container .grid-item {
    background-color: #f5f5f5;
    display: table;
    height: 100%;
    min-width: 100%;
    padding-left: 16px;
}
#sunbirdUserSwitchingModal .modal-content .userswitcher-class {
    color: #a0a0a0;
    margin-top: 3px;
}
#sunbirdUserSwitchingModal .modal-content #users .active .userswitcher-container .userswitcher-name {
    color: #007aff;
}
#users::-webkit-scrollbar {
    border-radius: 30%;
}
#users::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border-radius: 35%;
}
#users::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
    border-radius: 10%;
}
.userswitcher-data {
    display: table-cell;
    vertical-align: middle;
}
</style>
<div ng-init="init()" ng-show="showSunbirdUserSwitchModal" id="sunbirdUserSwitchingModal" class="user-modal">
    <div class="modal-content">
        <div class="user-header tab">
            <span ng-click="closeUserSwitchingModal()" class="close">&times;</span>
            <button class="tablinks" id="usersButton" ng-click="initializeUser($event, 'users')">Users</button>
            <!-- <button class="tablinks" id="groupsButton" ng-click="initializeUser($event, 'groups')">Groups</button> -->
        </div>
        <div id="users">
            <div ng-repeat="user in $root.users track by $index" ng-click='selectUser(user)' class="userswitcher-card grid-container" ng-class="user.selected ? 'active' : ''">
                <div class="userswitcher-container grid-item">
                    <div class="userswitcher-data">
                        <p class="userswitcher-name">{{user.name}}</p>
                        <p class="userswitcher-class">{{user.class.toString()}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="model-butttons">
            <div class="tab user-footer">
                <button class="replay" ng-click="replayContent()">{{playButton}}</button>
            </div>
        </div>
    </div>
</div>